<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
		  <rules>
			<rule name="API" stopProcessing="true">
			  <match url="^api(/.*)?$" />
			  <action type="Rewrite" url="http://localhost:5001/{R:0}" />
			</rule>

			<rule name="Frontend assets passthrough" stopProcessing="true">
			  <match url="^(.*\.(js|css|png|jpg|jpeg|gif|svg|ico|woff|woff2|ttf|map))$" />
			  <action type="Rewrite" url="http://localhost:5000/{R:0}" />
			</rule>

			<rule name="Frontend SPA fallback" stopProcessing="true">
			  <match url=".*" />
			  <action type="Rewrite" url="http://localhost:5000/" />
			</rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>
